
      <tr>
        <td></td>
        <td>  
          <h4><%= email.object%></h4> <hr>
          <%= email.body%> <hr>
          <%= link_to "Supprimer", email_path(@email), method: :delete, class: "btn btn-danger btn-sm", remote: true %>
          <%= link_to "Marquer comme non-lu", email_path(@email), method: :delete, class: "btn btn-outline-dark btn-sm" %>
        </td>
      </tr>